* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(245, 212, 248), rgb(248, 230, 230), pink);
}

#main {
    margin: auto;
    width: 500px;
    height: 800px;
    /* background-color: aqua; */
}

table {
    margin: auto;
    /* background-color: rgb(255, 255, 255); */
}

.formLogin {
    height: 300px;
    width: 400px;
    background: linear-gradient(rgb(245, 212, 248), rgb(248, 230, 230), pink);
    border: 2px solid rgb(78, 78, 78);
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 40px;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 90, 79);
    font-weight: bold;
    font-size: 30px;
    padding: 40px 0px 20px 0px;
}

#userEmail {
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border: rgb(161, 159, 159);
    margin: 10px 0px 0px 0px;
}

#userPass {
    height: 30px;
    width: 200px;
    border-radius: 8px;
    border: rgb(161, 159, 159);
    margin: 10px 0px 0px 0px;
}

button {
    height: 30px;
    width: 204px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(169, 247, 221);
}

button:hover {
    background: white;
}

#checkbox {
    margin: 10px 0px 10px 0px;
}

input {
    padding: 0px 0px 0px 10px;
}